
@{
    ViewBag.Title = "Index";
}
<h2>Alumnos</h2>
<hr/>

<form class="form-inline">
    <select id="cmbSexo" class="form-control">
    </select>
    <input type="button" id="btnBuscarSexo" value="Buscar" class="btn btn-success" />

</form>
<hr />
<br />
<div id="tAlumno">


</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/datatables.css" rel="stylesheet" />
<script src="~/Scripts/datatables.js"></script>
<script src="~/Scripts/js/Alumno.js"></script>

