
@{
    ViewBag.Title = "Index";
}

<h2>Curso</h2>
<hr />
<br />
<label>Ingrese Nombre:</label>
<input type="text" id="txtFindNombre" />
<input type="button" id="btnBuscar" value="Buscar" class="btn btn-success" />
<input type="button" id="btnLimpiar" value="Limpiar" class="btn btn-primary" />
<hr />
<br />
<div id="tCurso">


</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/datatables.css" rel="stylesheet" />
<script src="~/Scripts/datatables.js"></script>
<script src="~/Scripts/js/Curso.js"></script>